@charset "UTF 8";

/* google font..> escplhe o estilo .. seleciona o estilo...no lado direito superior clica no simbolo window+ e copia o estilo*/ 

@import url('https://fonts.googleapis.com/css2? family= Fira+Code & family= Passion+One & display=swap');

@import url('https://fonts.googleapis.com/css2? family= Fira+Code & family= Passion+One & family= Sriracha & display=swap');


:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursiva;
    --fonte3: 'Sriracha', cursiva;
}

* { /* o(*) caracteristicas de todos os elementos da aplicação*/
    margin: 0px;
    padding: 0px;
    


}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: aliceblue;
    text-align: center;
   
}

head h1 {
    padding: 50px;
    font-variant: small-caps; /* deixa as primeiras letras maiores*/
    font-family: var(--fonte2);
    font-size:2vw;
}

header > p {
  padding-bottom: 50px;

}

header a, footer a {
    color: aliceblue;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
   padding-top: 10vh;
   padding-bottom: 10vh;
   line-height: 1.5em; /* espaçamento entre linhas*/
   padding-left: 30px;
   font-family: var(--fonte3);
   font-size: 2vw;
}

section p {
   padding-bottom: 1em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(22, 21, 21);
    color: white;
    box-shadow: inset 6px 6px 13px 0px black;
    background-size: cover;
    background-attachment: fixed; /* efeito parallax*/

}

section.imagem > p {
   display: inline-block;
   padding: 5px;
   background-color: rgba(0, 0, 0, 0.233);
   text-shadow: 1px 1px 1px black;

}

section#img01 {
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
   
}

section#img02 {
    background-image: url(../imagens/background002.jpg);
    background-position: right center;
   
}



footer {
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 10px;
}